@font-face {
    font-family: 'Satoshi-Regular';
    src: url('./assets/fonts/Satoshi-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Nulshock RG';
    src: url('./assets/fonts/nulshock bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  