@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply font-Satoshi;
  scroll-behavior: smooth;

}

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    font-family: 'Nulshock RG', sans-serif;

  }
}


